# **Problema A - Caso Base**

# Matriz de Costos

In [1]:
import pandas as pd

df_clients = pd.read_csv('./content/base/clients.csv')
df_depots = pd.read_csv('./content/base/depots.csv')
df_vehicles = pd.read_csv('./content/base/vehicles.csv')

In [2]:
df_depots['DepotID'] = df_depots['DepotID'].astype(str)
df_depots['ClientID'] = df_clients['ClientID'].astype(str)
df_vehicles['VehicleName'] = [f'V{i+1}' for i in range(len(df_vehicles))]


coord_depots = list(zip(df_depots['Longitude'], df_depots['Latitude']))

coord_clients = list(zip(df_clients['Longitude'], df_clients['Latitude']))

lugares = coord_depots + coord_clients

In [9]:
import csv
import numpy as np
def read_cost_matrix_csv(filename):
    """
    Reads a cost matrix from a CSV file.

    The first row of the CSV is assumed to contain the node IDs.

    Parameters:
        filename (str): The name of the CSV file.
    
    Returns:
        cost_matrix (np.array): A 2D numpy array representing the cost matrix.
    """
    with open(filename, 'r', newline='') as file:
        reader = csv.reader(file)

        # Skip the header row with node IDs
        next(reader)

        data = list(reader)

    cost_matrix = np.array(data, dtype=float)

    return cost_matrix

cost_m = pd.read_csv('./content/base/cost_matrix_caso_base.csv')
cost_m.head()

,CD1,C1,C2,C3,C4,C5,C6,C7,C8,C9,...,C15,C16,C17,C18,C19,C20,C21,C22,C23,C24
0,9999999.000,82442.799,51515.379,37507.077,80957.070,68646.744,59580.765,75863.142,72436.869,92994.507,...,81229.959,102818.511,80684.181,60247.827,63461.853,39841.794,84413.664,74013.561,34384.014,93600.927
1,90083.691,9999999.000,43328.709,55184.220,3426.273,37901.250,34414.335,54001.701,41691.375,22771.071,...,3911.409,22558.824,13614.129,29835.864,45390.537,66221.064,65735.928,16312.698,60763.284,14826.969
2,55608.714,38477.349,9999999.000,20709.243,36991.620,43359.030,22528.503,27955.962,47149.155,46876.266,...,37264.509,58853.061,34535.619,26621.838,16979.760,31746.087,38810.880,30048.111,26288.307,47937.501
3,41721.696,48422.637,17495.217,9999999.000,46936.908,34626.582,25560.603,41842.980,38416.707,58974.345,...,47209.797,68798.349,46664.019,26227.665,29441.691,17859.069,50363.181,39993.399,12401.289,59550.444
4,87051.591,3183.705,40266.288,52152.120,9999999.000,34838.829,31351.914,50969.601,38628.954,23953.590,...,3790.125,25378.677,12643.857,26773.443,42358.437,63188.964,62703.828,13280.598,57731.184,15979.167